extends body
block includeCSS
    link(rel='stylesheet',type='text/css',href='css/index.css')
block title
    title 捐赠

block content
    div#website-notice
    div.text-center
        h1 捐赠
        p 秋之盒是一个完全开源免费的自由软件,兴趣是我开发这个软件的最初动力
        p 许多人使用并称赞了秋之盒,说真的,我很开心(^▽^)
        p 但......一个项目纯粹靠兴趣来维持,真能活得长久吗?
        p 无数的软件因为难以盈利而倒下或成为流氓被人唾弃
        p 我希望大家能够一起守护秋之盒的纯洁与美好....
        h1 捐赠方式
            br
            small  您将被记录在下方的捐赠名单,永久保存
        .row
            .col-md-4.col-sm-4
                img(src="images/alishop.png").donate-image
            .col-md-4.col-sm-4
                img(src="images/redpacket.jpg").donate-image
            .col-md-4.col-sm-4
                img(src="images/wechatpay.jpg").donate-image

        .text-center
            h1
                embed(src="../images/svg/heart.svg", style="width:30px;") 
                span 谢谢你们
            h3 #{donate.donateTimes}次捐赠,共计#{donate.donateTotalAmount}元
            p 如果您捐赠了但却未被记录,请联系zsh2401@163.com

        .row
            .col-md-3.col-xs-6.col-sm-3
                p 称呼
            .col-md-3.col-xs-3.col-sm-3
                p 日期
            .col-md-3.col-xs-3.col-sm-3
                p 数额
            .col-md-3.hidden-xs.col-sm-3
                p 备注
        div(style="height:1px;background-color:gray;margin-bottom:4px;")

        for donor in donate.donors
            .row
                .col-md-3.col-xs-6.col-sm-3
                    if(donor.name)
                        p #{donor.name}
                    else
                        p 佚名
                .col-md-3.col-xs-3.col-sm-3
                    if(donor.date)
                        p #{donor.date}
                    else
                        p 不详
                .col-md-3.col-xs-3.col-sm-3
                    p ¥#{donor.amount} 
                .col-md-3.hidden-xs.col-sm-3
                    if(donor.t)
                        p #{donor.t}
                    else
                        p 无
