extends body
block includeCSS
    link(rel='stylesheet',type='text/css',href='https://cdn.jsdelivr.net/npm/swiper@3.4.2/dist/css/swiper.min.css')
block includeJS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.jquery.min.js")
block title
    title #{ext.name} - #{web.title}
    link(rel="icon" href="#{ext.icon}" type="image/x-icon")
    link(rel="shortcut icon" href="#{ext.icon}" type="image/x-icon")
block content
    if(ext.obtained)
        .alert.alert-danger #{obtained}
    .row
        .col-md-2.col-sm-2.hidden-xs
            img(src="#{ext.icon}").img-responsive
        .col-md-10.col-sm-10.col-xs-12
            h1(style="margin-top:0px").hidden-xs #{ext.name}
            h3(style="margin-top:0px").visible-xs #{ext.name}
            h4(style="color:gray") 
                if(ext.version)
                    span #{ext.version}
                span   @#{ext.auth}
            .btn-group
                unless(ext.obtained)
                    button(onclick="window.open('#{ext.downloadUrl}')").btn.btn-primary 立刻获取
                button(onclick="window.open('/go/help/install_extension')").btn.btn-default 如何安装拓展模块?
    br
    br
    if(ext.pics)
        div.swiper-container
            div(style='height:300px').swiper-wrapper
                for pic in ext.pics
                    div.swiper-slide
                        img(src="#{pic}").img-responsive

    h3 简介
    if(ext.desc)
        div !{ext.desc}
    else
        p 开发者是条懒狗,没有写简介
    h3 其它
    div(style="color:gray").row
        for addin in ext.addition
            .col-md-3.col-sm-4.col-xs-6
                span #{addin.key}
                span :
                span !{addin.value}
    
    div(vid='/exts/#{ext.id}')#vcomment

    script.
        window.onload = ()=>{
            new Swiper('.swiper-container', {
                slidesPerView: 2.3,}
                spaceBetween: 40,
                pagination: {
                el: '.swiper-pagination',
                clickable: true,
                },
            });
        }